<div class="respContainer">
  <form enctype="multipart/form-data">
    <p>Введіть Імя:</p>
    <input type="text" [(ngModel)]="author" name="author" class="form-control" placeholder="Type someting">
    <p>Введіть відгук:</p>
    <textarea [(ngModel)]="response" rows="8" name="response" class="form-control" placeholder="Type someting"></textarea>
    <p>Виберіть Фото</p>
    <input type="file" (change)="onFileSelected($event)" class="form-control-file" name="file" id="file">
  </form>
  <button *ngIf="!edit" (click)="addResponse()" type="button" class="btn btn-success">Add</button>
  <button *ngIf="edit" (click)="saveResponse()" type="button" class="btn btn-warning">Save</button>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Імя</th>
        <th scope="col">Відгук</th>
        <th scope="col">Фото</th>
        <th scope="col">Редагувати</th>
        <th scope="col">Видалити</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of api.getResponsesArray; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.author}}</td>
        <td>{{item.response}}</td>
        <td>
          <img width="50px" height="50px" src="{{item.idImgUrl + item.idImg}}" alt="{{item.response}}">
        </td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="onEdit(item)">Редаг.</button>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Видалити</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>