.containerAllSite{
    width: 1704px;
    /* width: 90%; */
    margin: 0px auto;
    /* border: 1px solid black */
}
@media screen and (max-width: 1670px) and (min-width: 1025px){
    .containerAllSite{
        width: 1137px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 770px){
    .containerAllSite{
        width: 864px;
    }
}
@media screen and (max-width: 769px) and (min-width: 646px){
    .containerAllSite{
        width: 645px;
    }
}
@media screen and (max-width: 645px) and (min-width: 200px){
    .containerAllSite{
        /* width: 326px; */
        width: 100%;
    }
}
