.photoDetailContainer {
    width: 100%;
    padding-top: 73px;
}

.title {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 83px;
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    outline: none;
}
.title p{
    margin-left: 20px;
}


/* ------------arrow back--------------- */
.arrowBack {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* background-color: lightgrey; */
    margin-top: 10px;
    /* position: absolute;
    top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.arrowBack {
    left: 40px;
}

.arrowBack span, .arrowBack span::after, .arrowBack span::before, .arrowBack span {
    width: 35px;
    height: 3px;
    background-color: grey;
    border: 1px solid grey;
    position: absolute;
    border-radius: 20%;
}

.arrowBack span::before, .arrowBack span::after {
    display: block;
    content: '';
}

.arrowBack span::before {
    top: -5px;
    left: -2px;
    width: 14px;
    transform: rotate(-45deg);
}

.arrowBack span::after {
    top: 3px;
    left: -2px;
    width: 14px;
    transform: rotate(45deg);
}
/* ----------------------------------------- */

.bigPhoto {
    width: 100%;
    height: 570px;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    transition: 1s;
    
}
.bigPhoto img{
    height: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.bandPhotos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}
.minphoto{
    height: 200px;
    width: 250px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    

}
.minphoto img{
    height: 100%;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); */
}