<div class="photoDetailContainer">
    <div class="title" routerLink='/galary'>
        <div class="arrowBack" >
            <span></span>
        </div>
        <p>{{arrayPhoto.nameProject}}</p>
    </div>
    <div class="bigPhoto">
        <img src="{{photo.path+photo.filename}}" alt="">
    </div>
    <div class="bandPhotos">
        <div class="minphoto" *ngFor="let item of arrayPhoto.arrayImg"  >
            <img src="{{item.path+item.filename}}" (click)="viewBigPhoto(item)" alt="">
        </div>
    </div>
</div>