<div *ngIf="lagService.lang"  class="poslugiContainer">
    <div class="title1">Послуги</div>
    <div class="typePhoto">
        <div class="title2">Тип фотографії:</div>
        <div *ngIf="lagService.lang"  class="comercial">
            <p>Комерційна фотографія</p>
            <ul>
                <li>Перше</li>
                <li>Друге</li>
                <li>Трете</li>
                <li>First second words all is good today, bla bla And bla bla</li>
                <li>First second words all is good today, bla bla And bla bla</li>
            </ul>
            <img src="assets/img/comerceBg.png" alt="">
        </div>
        <div class="portrait">
            <p>Портретня фотографія</p>
            <ul>
                <li>Перше</li>
                <li>Друге</li>
                <li>Трете</li>
                <li>First second words all is good today, bla bla And bla bla</li>
                <li>First second words all is good today, bla bla And bla bla</li>
            </ul>
            <img src="assets/img/portraitBg.png" alt="">
        </div>

    </div>

    <div class="team">
        <div class="title2">Команда професіоналів:</div>
        <div class="teamPerosn">
            <p>Олена Rudyuk</p>
            <img src="assets/img/team1.jpg" alt="">
        </div>
        <div class="teamPerosn">
            <p>Яна Blyha</p>
            <img src="assets/img/team2.jpg" alt="">
        </div>
        <div class="teamPerosn">
            <p></p>
            <img src="" alt="">
        </div>
    </div>

    <div class="happyCounter">
        <div>
            <p>4</p>
            <p>Роки роботи</p>
        </div>
        <!-- <div>
            <p>24</p>
            <p>Партнерів</p>
        </div> -->
        <div>
            <p>77</p>
            <p>Клієнтів</p>
        </div>
        <img src="assets/img/heppyCounterBg.png" alt="">
    </div>
</div>


<div *ngIf="!lagService.lang"  class="poslugiContainer">
    <div class="title1">Services</div>
    <div class="typePhoto">
        <div class="title2">Type of photography:</div>
        <div class="comercial">
            <p>Сommercial photography</p>
            <ul>
                <li>First</li>
                <li>Second</li>
                <li>Thirst</li>
                <li>First second words all is good today, bla bla And bla bla</li>
                <li>First second words all is good today, bla bla And bla bla</li>
            </ul>
            <img src="assets/img/comerceBg.png" alt="">
        </div>
        <div class="portrait">
            <p>Portrait photography</p>
            <ul>
                <li>First</li>
                <li>Second</li>
                <li>Thirst</li>
                <li>First second words all is good today, bla bla And bla bla</li>
                <li>First second words all is good today, bla bla And bla bla</li>
            </ul>
            <img src="assets/img/portraitBg.png" alt="">
        </div>

    </div>

    <div class="team">
        <div class="title2">Our team of professionals:</div>
        <div class="teamPerosn">
            <p>Olena Rudyuk</p>
            <img src="assets/img/team1.png" alt="">
        </div>
        <div class="teamPerosn">
            <p>Yana Blyha</p>
            <img src="assets/img/team2.png" alt="">
        </div>
        <div class="teamPerosn">
            <p></p>
            <img src="" alt="">
        </div>
    </div>

    <div class="happyCounter">
        <div>
            <p>5</p>
            <p>Years of work</p>
        </div>
        <div>
            <p>24</p>
            <p>Partners</p>
        </div>
        <div>
            <p>208</p>
            <p>Happy customers</p>
        </div>
        <img src="assets/img/heppyCounterBg.png" alt="">
    </div>
</div>