<div *ngIf="lagService.lang"  class="poslugiContainer">
    <div class="title1">Послуги</div>
    <div class="typePhoto">
        <div class="title2">Тип фотографії:</div>
        <div class="comercial">
            <p>Комерційна фотографія</p>
            <ul>
                <li>Підбір моделей відповідно до короткого опису</li>
                <li>Пошук місця</li>
                <li>Послуги візажиста, стиліста та перукаря</li>
                <li>Пост-продакшн</li>
            </ul>
            <img src="assets/img/comerceBg.png" alt="">
        </div>
        <div class="portrait">
            <p>Портретня фотографія</p>
            <ul>
                <li>Пакет "Базовий"</li>
                <li>Пакет "Все включено"</li>
                <li>Пакет "Зйомка на місці"</li>
                <li>Зйомка за межами Львова</li>
            </ul>
            <img src="assets/img/portraitBg.png" alt="">
        </div>

    </div>

    <div class="team">
        <div class="title2">Команда професіоналів:</div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/neofotolviv/"><img src="assets/img/ig.svg" alt=""></a>
                <div></div>
            </div>
            <p>Олена Рудюк</p>
            <img src="assets/img/team1.jpg" alt="">
        </div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/roksolana_make_up_lviv/"><img src="assets/img/ig.svg" alt=""></a>
                <div></div>
            </div>
            <p>Роксолана Бубела</p>
            <img src="assets/img/team2.jpg" alt="">
        </div>
        <div class="teamPerson">
            <p >We are open 
                to cooperation :)</p>
            <img src="" alt="">
        </div>
    </div>

    <div class="happyCounter">
        <div>
            <p>4</p>
            <p>Роки роботи</p>
        </div>
        <div>
            <p>77</p>
            <p>Клієнтів</p>
        </div>
        <img src="assets/img/heppyCounterBg.png" alt="">
    </div>
</div>

<!-- ------------------------------------------------------- -->

<div *ngIf="!lagService.lang"  class="poslugiContainer">
    <div class="title1">Services</div>
    <div class="typePhoto">
        <div class="title2">Type of photography:</div>
        <div class="comercial">
            <p>Сommercial photography</p>
            <ul>
                <li>Selection of models according to the brief</li>
                <li>Search for a location</li>
                <li>Services of makeup artist, stylist and hairdresser</li>
                <li>Postproduction</li>
            </ul>
            <img src="assets/img/comerceBg.png" alt="">
        </div>
        <div class="portrait">
            <p>Portrait photography</p>
            <ul>
                <li>Package “Basic”</li>
                <li>Package “All inclusive”</li>
                <li>Package “Shooting on location”</li>
                <li>Shooting outside of Lviv</li>
            </ul>
            <img src="assets/img/portraitBg.png" alt="">
        </div>

    </div>

    <div class="team">
        <div class="title2">Our team of professionals:</div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/neofotolviv/"><img src="assets/img/ig.svg" alt=""></a>
                <div></div>
            </div>
            <p>Olena Rudiuk</p>
            <img src="assets/img/team1.jpg" alt="">
        </div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/roksolana_make_up_lviv/"><img src="assets/img/ig.svg" alt=""></a>
                <div></div>
            </div>
            <p>Roksolana Bubela</p>
            <img src="assets/img/team2.jpg" alt="">
        </div>
        <div class="teamPerson">
            <p></p>
            <img src="" alt="">
        </div>
    </div>

    <div class="happyCounter">
        <div>
            <p>4</p>
            <p>Роки роботи</p>
        </div>
        <div>
            <p>77</p>
            <p>Клієнтів</p>
        </div>
        <img src="assets/img/heppyCounterBg.png" alt="">
    </div>
</div>