.poslugiContainer {
    width: 100%;
}

.title1 {
    color: #222222;
    font-size: 50px;
    font-weight: 700;
}

.title2 {
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0;
    width: 100%;
}

.typePhoto {
    width: 100%;
}

.portrait, .comercial {
    width: 840px;
    height: 760px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 0;
    margin: 0;
}

.portrait>img, .comercial>img {
    position: absolute;
    top: -12px;
    left: -22px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.comercial {
    float: right;
}

.portrait>p, .comercial>p {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 2.5;
}

ul>li {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 3;
    margin-left: 55px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teamPerson {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    /* background-color: #ffeee8; */
    width: 552px;
    height: 690px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}
.teamPerson>img{
    position: absolute;
    z-index: -3;
}

.teamPerson>p {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.rightSideBar {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rightSideBar>div {
    width: 1px;
    height: 35%;
    border: 1px solid white;
    background-color: white;
}

.rightSideBar img {
    width: 27px;
    height: 27px;
}

.happyCounter {
    width: 100%;
    height: 366px;
    padding-top: 30px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    position: relative;
    margin: 120px 0;
    display: flex;
    justify-content: space-around;
}

.happyCounter>img {
    position: absolute;
    z-index: -1;
    left: -22px;
    top: -12px;
}

.happyCounter>div>:nth-child(1) {
    color: #ffffff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.happyCounter>div>:nth-child(2) {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
}
@media screen and (max-width: 1670px) and (min-width: 1025px) {}

@media screen and (max-width: 1024px) and (min-width: 770px) {}

@media screen and (max-width: 769px) and (min-width: 646px) {}

@media screen and (max-width: 645px) and (min-width: 200px) {}