<div *ngIf="lagService.lang" class="poslugiContainer">
    <div class="title1">Послуги</div>
    <div class="typePhoto">
        <div class="title2">Тип фотографії:</div>
        <div class="comercial">
            <p>Комерційна фотографія</p>
            <ul>
                <li>Підбір моделей згідно брифу</li>
                <li>Пошук локації для зйомки</li>
                <li>Послуги візажиста</li>
                <li>Послуги стиліста</li>
                <li>Послуги перукаря</li>
                <li>Постпродакшн</li>
            </ul>
            <img src="assets/img/comerceBg.jpg" alt="">
        </div>
        <div class="portrait">
            <div class="i" (click)="information()"><img src="assets/img/info.png" alt=""></div>
            <p [ngClass]="{hiden:hiden}">Портретня фотографія</p>
            <ul [ngClass]="{hiden:hiden}">
                <li>Пакет "Базовий"</li>
                <li>Пакет "Все включено"</li>
                <li>Пакет "Зйомка на локації"</li>
                <li>Зйомка за межами Львова</li>
            </ul>
            <ul [ngClass]="{hiden:!hiden}">
                <li>Пакет "Базовий"</li>
                <ul class="miniUl">
                    <li>Зйомка в студії тривалістю 1 година. Вартість студії
                        оплачується додатково.
                    </li>
                    <li>30-40 фото в повній ретуші та роздрук 10 фото на вибір клієнта.</li>
                </ul>
                <li>Пакет "Все включено"</li>
                <ul class="miniUl">
                    <li>Зйомка в студії тривалістю 1-2 години. Послуги візажиста та підбір образу. Оренда студії включена у вартість.
                    </li>
                    <li>50 фотографій в повній ретуші та роздрук 20 фотографій на вибір клієнта.</li>
                </ul>
                <li>Пакет "Зйомка на локації"</li>
                <ul class="miniUl">
                    <li>Зйомка на місцевиї локаціях на Ваш вибір тривалістю орієнтовно 2 години. Візажист та підбір образу входить у вартість.
                    </li>
                </ul>
                <li>Зйомка за межами Львова</li>
                <ul class="miniUl">
                    <li>Зйомка за межами Львова ( інші міста України та Європи ) Варість за домовленістю.
                    </li>
                </ul>
            </ul>
            <img src="assets/img/portraitBg.jpg" alt="">
        </div>

    </div>

    <div class="team">
        <div class="title2">Команда професіоналів:</div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/neofotolviv/"><img src="assets/img/ig.svg"
                        alt=""></a>
                <div></div>
            </div>
            <p>Олена Рудюк</p>
            <img src="assets/img/team1.jpg" alt="">
        </div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/roksolana_make_up_lviv/"><img src="assets/img/ig.svg"
                        alt=""></a>
                <div></div>
            </div>
            <p>Роксолана Бубела</p>
            <img src="assets/img/team2.jpg" alt="">
        </div>
        <div class="teamPerson lastTeamPerson">
            <p>We are open
                to cooperation :)</p>
            <img src="" alt="">
        </div>
    </div>

    <div class="happyCounter">
        <div>
            <p>4</p>
            <p>Роки роботи</p>
        </div>
        <div>
            <p>77</p>
            <p>Клієнтів</p>
        </div>
        <img src="assets/img/heppyCounterBg.png" alt="">
    </div>
</div>

<!-- ------------------------------------------------------- -->

<div *ngIf="!lagService.lang" class="poslugiContainer">
    <div class="title1">Services</div>
    <div class="typePhoto">
        <div class="title2">Type of photography:</div>
        <div class="comercial">
            <p>Сommercial photography</p>
            <ul>
                <li>Selection of models according to the brief</li>
                <li>Search for a location</li>
                <li>Services of makeup artist, stylist and hairdresser</li>
                <li>Services of stylist</li>
                <li>Services of hairdresser</li>
                <li>Postproduction</li>
            </ul>
            <img src="assets/img/comerceBg.jpg" alt="">
        </div>
        <div class="portrait">
            <div class="i"><img src="assets/img/info.png" alt=""></div>
            <p>Portrait photography</p>
            <ul>
                <li>Package “Basic”</li>
                <li>Package “All inclusive”</li>
                <li>Package “Shooting on location”</li>
                <li>Shooting outside of Lviv</li>
            </ul>
            <img src="assets/img/portraitBg.jpg" alt="">
        </div>

    </div>

    <div class="team">
        <div class="title2">Our team of professionals:</div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/neofotolviv/"><img src="assets/img/ig.svg"
                        alt=""></a>
                <div></div>
            </div>
            <p>Olena Rudiuk</p>
            <img src="assets/img/team1.jpg" alt="">
        </div>
        <div class="teamPerson">
            <div class="rightSideBar">
                <div></div>
                <a target="_blank" href="https://www.instagram.com/roksolana_make_up_lviv/"><img src="assets/img/ig.svg"
                        alt=""></a>
                <div></div>
            </div>
            <p>Roksolana Bubela</p>
            <img src="assets/img/team2.jpg" alt="">
        </div>
        <div class="teamPerson">
            <p></p>
            <img src="" alt="">
        </div>
    </div>

    <div class="happyCounter">
        <div>
            <p>4</p>
            <p>Роки роботи</p>
        </div>
        <div>
            <p>77</p>
            <p>Клієнтів</p>
        </div>
        <img src="assets/img/heppyCounterBg.png" alt="">
    </div>
</div>