.containerMain {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.title {
    width: 100%;
}

.title p {
    height: 60px;
    color: #222222;
    font-size: 50px;
    font-weight: 700;
}

.map {
    width: 700px;
    height: 650px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 50px;
}

.contactInformation {
    margin: 50px 150px;
}

h3 {
    color: #222222;
    font-size: 50px;
    font-weight: 700;
}

.contactInformation p {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;
}

.text {
    margin-top: 100px;
    width: 700px;
}

.formSend {
    width: 700px;
    margin-top: 100px;
    margin: 120px 150px;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #1a1a1a;
}

.formSend input, .formSend textarea, .formSend select {
    border: none;
    border-bottom: 1px solid lightgrey;
    background-color: #fafafa;
    margin-bottom: 35px;
    outline: none;
}
.formSend select{
    width: 150px;
}

.formSend button {
    background-color: #fafafa;
    border: 2px solid lightgrey;
    border-radius: 25px;
    padding: 5px 35px;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
    outline: none;
    transition: 0.3s;
}
.formSend button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1670px) and (min-width: 1025px) {}

@media screen and (max-width: 1024px) and (min-width: 770px) {}

@media screen and (max-width: 769px) and (min-width: 646px) {}

@media screen and (max-width: 645px) and (min-width: 200px) {}