<div class="gallaryContainer">
    <div class="titleMain">
        <p>Gallary</p>
    </div>

    <div class="mainBox">
        <div class="galary" *ngFor="let item of photoArrayPies">
            <div *ngFor="let project of item; let i = index" routerLink="/viewPhoto" (click)="photoDetails(project)">
                <div class="darkHoverGalary">
                    <span class="title">{{project.nameProject}}</span>
                    <span>Детальніше</span>
                </div>
                <img src="{{project.arrayImg[0].path + project.arrayImg[0].filename}}" alt="">
            </div>
        </div>
    </div>