<div class="gallaryContainer">
    <div class="titleMain">
        <p *ngIf="galary.lang">Галерея</p>
        <p *ngIf="!galary.lang">Gallery</p>
    </div>

    <div class="mainBox">
        <div class="galary" *ngFor="let item of photoArrayPies">
            <div *ngFor="let project of item; let i = index"
                (click)="photoDetails(project)">
                <div class="darkHoverGalary">
                    <span class="title">{{project.nameProject}}</span>
                    <div class="arrowSocial arrowGalary">
                        <span></span>
                    </div>
                </div>
                <div class="lastSlide">
                    <p>{{project.arrayImg[0].lastSlide}}</p>
                </div>

                <img src="{{project.arrayImg[0].path + project.arrayImg[0].filename}}" alt="">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="myModal" *ngIf="viewModal" >
    <button type="button" class="close" (click)="closeModal()" >
        <img src="/assets/img/close.svg" alt="">
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigPhoto">
                <div ngxSlickItem class="slide " *ngFor="let item of modalPhotos">
                    <img src="{{item.path+item.filename}}" alt="">
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>