.gallaryContainer {
    width: 100%;
}

.titleMain {
    width: 184px;
    height: 71px;
    color: #222222;
    font-family: Baskerville;
    font-size: 60px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* -------------------------------------------- */

.galary {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-gap: 50px;
    justify-items: center;
    padding: 30px 0px;
    align-items: inherit;
}

.galary>div {
    width: 400px;
    /* border: 10px solid white; */
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.darkHoverGalary {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 2;
    transition: 0.7s;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 50px 30px;
}

.darkHoverGalary :nth-child(1) {
    color: white;
}

/* .darkHoverGalary :nth-child(2) {
    border: 3px solid white;
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
} */

.darkHoverGalary:hover {
    opacity: 0.7;
}

.galary>div>img {
    height: 100%;
}

.galary :nth-child(1) {
    grid-row: 1/3;
}

.galary :nth-child(2) {
    grid-row: 1/4;
}

.galary :nth-child(3) {
    grid-row: 1/3;
}

.galary :nth-child(4) {
    grid-row: 3/6;
}

.galary :nth-child(5) {
    grid-row: 4/6;
}

.galary :nth-child(6) {
    grid-row: 3/6;
}

.lastSlide {
    color: #222222;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.arrowGalary {
    /* display: block; */
    margin-left: 0;
    padding-top: 20px;
}

.arrowGalary span {
    border-color: white;
}
.arrowSocial {
    width: 50px;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.arrowSocial span, .arrowSocial span::after, .arrowSocial span::before {
    width: 35px;
    height: 3px;
    background-color: #f3c6b8;
    border: 1px solid #f3c6b8;
    position: absolute;
    border-radius: 20%;
}

.arrowSocial span::before, .arrowSocial span::after {
    display: block;
    content: '';
}

.arrowSocial span::before {
    top: -5px;
    right: -2px;
    width: 14px;
    transform: rotate(45deg);
}

.arrowSocial span::after {
    top: 3px;
    right: -2px;
    width: 14px;
    transform: rotate(-45deg);
}