.gallaryContainer {
    width: 100%;
    padding-top: 73px;
}

.titleMain {
    width: 184px;
    height: 71px;
    color: #222222;
    font-family: Baskerville;
    font-size: 60px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* -------------------------------------------- */

.galary {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-gap: 50px;
    justify-items: center;
    padding: 30px 0px;
    align-items: inherit;
}

.galary>div {
    width: 400px;
    /* border: 10px solid white; */
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.galary>div>img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.darkHoverGalary {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 2;
    transition: 0.7s;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 50px 30px;
}

.darkHoverGalary :nth-child(1) {
    color: white;
}

.darkHoverGalary:hover {
    opacity: 0.7;
}

.galary>div>img {
    height: 100%;
}

.galary :nth-child(1) {
    grid-row: 1/3;
}

.galary :nth-child(2) {
    grid-row: 1/4;
}

.galary :nth-child(3) {
    grid-row: 1/3;
}

.galary :nth-child(4) {
    grid-row: 3/6;
}

.galary :nth-child(5) {
    grid-row: 4/6;
}

.galary :nth-child(6) {
    grid-row: 3/6;
}

.lastSlide {
    color: #222222;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    width: 100%;
    position: absolute;
}

.arrowGalary {
    /* display: block; */
    margin-left: 0;
    padding-top: 20px;
}

.arrowGalary span {
    border-color: white;
}

.arrowSocial {
    width: 50px;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.arrowSocial span, .arrowSocial span::after, .arrowSocial span::before {
    width: 35px;
    height: 3px;
    background-color: #f3c6b8;
    border: 1px solid #f3c6b8;
    position: absolute;
    border-radius: 20%;
}

.arrowSocial span::before, .arrowSocial span::after {
    display: block;
    content: '';
}

.arrowSocial span::before {
    top: -5px;
    right: -2px;
    width: 14px;
    transform: rotate(45deg);
}

.arrowSocial span::after {
    top: 3px;
    right: -2px;
    width: 14px;
    transform: rotate(-45deg);
}

.close {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    color: white;
}

.modal-dialog {
    /* width: 90% !important; */
    max-width: 90%;
}

.modal-content {
    background-color: transparent;
    border: none;
    outline: none;
    /* flex-direction: row !important; */
}

.slide {
    outline: none;
    margin: 0 auto;
}

.slide img {
    margin: 0px auto;
    max-height: 93vh;
    outline: none;
}

@media screen and (max-width: 1670px) and (min-width: 1025px) {
    .galary>div {
        width: 350px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
    .galary>div {
        width: 250px;
    }
    .galary {
        grid-template-rows: repeat(5, 100px);
        grid-gap: 40px;
    }
}

@media screen and (max-width: 769px) and (min-width: 646px) {
    .galary {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 100px);
        grid-gap: 30px;
    }
    .galary>div {
        width: 300px;
    }
    .galary :nth-child(1) {
        grid-row: 1/3;
    }
    .galary :nth-child(2) {
        grid-row: 1/4;
    }
    .galary :nth-child(3) {
        grid-row: 3/6;
    }
    .galary :nth-child(4) {
        grid-row: 4/7;
    }
    .galary :nth-child(5) {
        grid-row: 6/10;
    }
    .galary :nth-child(6) {
        grid-row: 7/10;
    }
}

@media screen and (max-width: 645px) and (min-width: 200px) {
    .gallaryContainer {
        padding-top: 0px;
    }
    .galary {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(18, 100px);
        grid-gap: 30px;
    }
    .galary>div {
        width: 300px;
    }
    .galary :nth-child(1) {
        grid-row: 1/4;
    }
    .galary :nth-child(2) {
        grid-row: 4/7;
    }
    .galary :nth-child(3) {
        grid-row: 7/10;
    }
    .galary :nth-child(4) {
        grid-row: 10/13;
    }
    .galary :nth-child(5) {
        grid-row: 13/16;
    }
    .galary :nth-child(6) {
        grid-row: 16/19;
    }
    .close {
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
    }
    
    .modal-dialog {
        max-width: 90%;
    }
    
    .modal-content {
        background-color: transparent;
        border: none;
        outline: none;
        margin: 45px 10px;
    }
        
    .slide img {
        margin: 0px auto;
        max-height: 60vh;
        outline: none;
    }
}