<div class="listContainer">
  <div *ngIf="checkEdit" class="ctn">
    <form enctype="multipart/form-data" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <div class="form-group">
        <p>Введіть назву проекта:</p>
        <input type="text" #nameProject="ngModel" name="nameProject" class="form-control" placeholder="Type someting" [(ngModel)]="formData.nameProject" required>
        <p>Виберіть категорію:</p>
        <select class="form-control" #categoryProject="ngModel" name="categoryProject" [(ngModel)]="formData.categoryProject">
          <option>Portrait</option>
          <option>Commerce</option>
        </select>
        <div class="ctnImg">
          <div class="imgDiv" *ngFor="let item of portraitOne?.arrayImg; let i=index">
            <img (click)="deleteImg($event)" name="{{item.filename}}" src="{{item.path + item.filename}}" alt="">
          </div>
        </div>
        <p>Виберіть Фото</p>
        <input type="file" (change)="onFileSelected($event)" multiple class="form-control-file" name="filesUpdate" id="filesUpdate">
        <button type="submit" class="btn btn-success">Зберегти</button>
      </div>
    </form>
  </div>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Назва проекта</th>
        <th scope="col">Категорія</th>
        <th scope="col">Фотографії</th>
        <th scope="col">Редагувати</th>
        <th scope="col">Видалити</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of api.getPortraitsArray; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.nameProject}}</td>
        <td>{{item.categoryProject}}</td>
        <td class="imgCol">
          <div class="imgDiv" *ngFor="let itemImg of item.arrayImg;">
            <img src="{{itemImg.path + itemImg.filename}}" alt="{{item.nameProject}}">
          </div>
        </td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="onEdit(item)">Редаг.</button>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Видалити</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>