<div class="containerAdmin">
    <p>Адмін панель</p>
    <div class="addPhoto">
        <h4>Добавити фото:</h4>
        <form action="">
            <span>Введіть назву проекту</span>
            <input type="text"><br>
            <span>Вибрати категорію:</span>
            <select name="" id="">
                <option value="">Портрет</option>
                <option value="">Комерція</option>
            </select><br>
            <span>Завантажити фото:</span>
            <button>Вибрати</button>
        </form>
        <div class="previewPhoto">
            <span>Перегляд завантажених фото</span>
        </div>
        <button>Завантажити</button>
    </div>
    <div class="addreviews">
        <div>
            <h4>Добавити відгук:</h4>
            <textarea name="" id="" cols="130" rows="10" placeholder="Напишіть відгук тут..."></textarea>
        </div>
        <div>
            <span>Завантажити фото клієнта</span>
            <button>Вибрати</button>
        </div>
    </div>
</div>