<div class="containerAdmin">
  <!-- <p>Панель адміністратора</p> -->
  

  <ul class="nav nav-tabs">
    <li>
      <span> Панель адміністратора</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="portrait" routerLinkActive="active">Добавити проект</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="list-project" routerLinkActive="active">Список проектів</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="response" routerLinkActive="active">Відгуки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="team" routerLinkActive="active">Команда</a>
    </li>
    <li>
      <div class="exit" (click)="logoutIsAdmin()">Вихід</div>
    </li>
  </ul>


  <router-outlet></router-outlet>





















  <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Response</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <div class="addPhoto">
                <h4>Добавити фото:</h4>
                <form >
                    <span>Введіть назву проекту</span>
                    <input type="text"><br>
                    <span>Вибрати категорію:</span>
                    <select name="" id="">
                        <option value="">Портрет</option>
                        <option value="">Комерція</option>
                    </select><br>
                    <span>Завантажити фото:</span>
                    <button>Вибрати</button>
                </form>
                <div class="previewPhoto">
                    <span>Перегляд завантажених фото</span>
                </div>
                <button>Завантажити</button>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>

        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            <div class="addreviews">
                <div>
                    <h4>Добавити відгук:</h4>
                    <textarea name="" id="" cols="130" rows="10" placeholder="Напишіть відгук тут..."></textarea>
                </div>
                <div>
                    <span>Завантажити фото клієнта</span>
                    <button>Вибрати</button>
                </div>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>

        </div>
      </div> -->
</div>