.containerAdmin{
    max-width: 100%;
    /* min-height: 1000px; */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background-color: white;
}
.containerAdmin p{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
.exit{
    position: fixed;
    top: 25px;
    right: 25px;
    width: auto;
    border: 1px solid lightgrey;
    padding: 0px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    margin: 10px auto;
    background-color: rgb(241, 59, 59);
    color: whitesmoke;
}

