<div class="containerHeader">
   
  <nav class="navbar navbar-expand-lg navbar-light ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="main" routerLinkActive='active'>Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="galary" routerLinkActive='active'>Gallary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="paslugi" routerLinkActive='active'>Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contacts" routerLinkActive='active'>Contacts</a>
      </li>
    </ul>
  </nav>

  <!-- <div class="bgHeader">
    <img src="/assets/img/bg-header.png" alt="">
  </div> -->

  <!-- <div class="rightSideBar">
    <div></div>
      <a href=""><img src="assets/img/be.png" alt=""></a>
      <a href=""><img src="assets/img/ig.png" alt=""></a>
      <a href=""><img src="assets/img/fb.png" alt=""></a>
    <div></div>
  </div> -->
</div>