.containerHeader {
    height: 74px;
    position: fixed;
    width: 1704px;
    margin: 0 auto;
    /* right: 50px;
    left: 50px; */
    z-index: 5;
    overflow: hidden;
    background-color:#FAFAFA ;
}
.menu-min{
    display: none;
}

.navbar-expand {
    justify-content: flex-end;
    height: 74px;
    font-weight: 400;
    color: #1a1a1a;
}

.nav-link {
    margin-right: 112px;
    font-size: 18px;
    font-weight: bold;
}
.nav-link span{
    cursor: pointer;
}

#lang {
    width: 65px;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #FAFAFA;
}
option{
    border: none;
    background-color: #FAFAFA;

}

@media screen and (max-width: 1670px) and (min-width: 1025px) {
    .nav-link {
        margin-right: 72px;
    }
    .containerHeader {
        width: 1137px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
    .nav-link {
        margin-right: 35px;
    }
    .containerHeader {
        width: 864px;
    }
}

@media screen and (max-width: 769px) and (min-width: 646px) {
    .navbar-expand {
        justify-content: space-between;
    }
    .nav-item {
        width: 130px;
    }
    .containerHeader {
        width: 768px;
    }

}

@media screen and (max-width: 645px) and (min-width: 200px) {
    
    .containerHeader{
        display: none;
    }
    .nav1 {
        width: 100%;
        flex-direction: column;
        text-align: center;
        position: relative;
        transform: scaleY(0);
        transition: 0.5s;
        transform-origin: center top;
    }
    .menu-min {
        display: block;
        width: 100%;
        background-color: white;
        height: 50px;
        transform: scaleY(1);
        transition: 0.5s;
    }
    .nav-link{
        color: black !important;
        margin: 0px auto;
    }
    .menuBtn{
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        background-color: white;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuBtn span::before,
    .menuBtn span::after,
    .menuBtn span{
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: black;
        transition: 0.3s;
    }
    .menuBtn span::before,
    .menuBtn span::after{
        content: '';
        display: block;
    }
    .menuBtn span::before{
        transform: translateY(-7px);
    }
    .menuBtn span::after{
        transform: translateY(7px);
    }
    .menuMinActive span::after{
        transform: rotate(45deg);
    }
    .menuMinActive span::before{
        transform: rotate(-45deg);
    }
    .menuMinActive span{
        height: 0;
    }
    .menuMinHide{
        transition: 0.5s;
        transform-origin: top bottom;
        transform: scaleY(1);
    }
    .menuMinHight{
        height: 267px;
        transform: scaleY(1);
        transition: 0.5s;
    }
    .menuMinTitle{
        width: 100%;
        padding: 15px 70px;
    }
    .menuMinTitle span{
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    .dropdown-menu{
        background-color: white;
    }
    .active{
        color: #F3C6B8 !important;
    }
    .logo{
        height: 50px;
        float: left;
    }
    .logo>img{
        height: 100%;
    }
    .langChange{
        position: absolute;
        right: 0px;
        /* float: left; */
    }
}