<div class="containerHeader">
  

  <nav class="navbar navbar-expand navbar-light ">
    <!-- <div class="logoMax"><img src="assets/img/logo-min.jpg" alt=""></div> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="langService.lang" class="nav-link" routerLink="main" routerLinkActive='active' (click)="scrollUp()">Домашня</a>
        <a *ngIf="!langService.lang" class="nav-link" routerLink="main" routerLinkActive='active' (click)="scrollUp()">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="langService.lang" class="nav-link" routerLink="galary" routerLinkActive='active'>Галерея</a>
        <a *ngIf="!langService.lang" class="nav-link" routerLink="galary" routerLinkActive='active'>Gallery</a>
      </li>
      <li class="nav-item">
        <a *ngIf="langService.lang" class="nav-link" routerLink="poslugi" routerLinkActive='active' (click)="scrollUp()">Послуги</a>
        <a *ngIf="!langService.lang" class="nav-link" routerLink="poslugi" routerLinkActive='active' (click)="scrollUp()">Services</a>
      </li>
      <li class="nav-item">
        <a *ngIf="langService.lang" class="nav-link" routerLink="contacts" routerLinkActive='active' (click)="scrollUp()">Контакти</a>
        <a *ngIf="!langService.lang" class="nav-link" routerLink="contacts" routerLinkActive='active' (click)="scrollUp()">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div *ngIf="langService.lang" (click)="selectLang()"><span id="lang">Укр</span>/ <span>Eng</span></div>
          <div *ngIf="!langService.lang" (click)="selectLang()"><span>Укр</span>/ <span id="lang">Eng</span></div>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- <span class="sr-only">(current)</span> -->

<span class="menu-min" [ngClass]="{menuMinHight:menuActive}">
  <div class="menuBtn" (click)="menuMinActive()" [ngClass]="{menuMinActive:menuActive}">
    <span></span>
  </div>

  <div class="logo"><img src="assets/img/Logo_dark.svg" alt=""></div>
  <div class="langChange">
    <div class="nav-link" *ngIf="langService.lang" (click)="selectLang()"><img src="assets/img/uk_lang.png" alt=""></div>
    <div class="nav-link" *ngIf="!langService.lang" (click)="selectLang()"><img src="assets/img/us_lang.png" alt=""></div>
  </div>

  <ul class="nav nav1" [ngClass]="{menuMinHide:menuActive}">
    <li class="nav-item">
      <a *ngIf="langService.lang" class="nav-link" routerLink="main" routerLinkActive='active'>Домашня</a>
      <a *ngIf="!langService.lang" class="nav-link" routerLink="main" routerLinkActive='active'>Home</a>
    </li>
    <li class="nav-item">
      <a *ngIf="langService.lang" class="nav-link" routerLink="galary" routerLinkActive='active'>Галерея</a>
      <a *ngIf="!langService.lang" class="nav-link" routerLink="galary" routerLinkActive='active'>Gallеry</a>
    </li>
    <li class="nav-item">
      <a *ngIf="langService.lang" class="nav-link" routerLink="paslugi" routerLinkActive='active'>Послуги</a>
      <a *ngIf="!langService.lang" class="nav-link" routerLink="paslugi" routerLinkActive='active'>Services</a>
    </li>
    <li class="nav-item">
      <a *ngIf="langService.lang" class="nav-link" routerLink="contacts" routerLinkActive='active'>Контакти</a>
      <a *ngIf="!langService.lang" class="nav-link" routerLink="contacts" routerLinkActive='active'>Contacts</a>
    </li>
  </ul>
</span>