/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Baskerville';
    src: url(/assets/fonts/baskerville/baskervi.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

html, body {
    /* height: 100%; */
    font-family: 'Baskerville';
}
