  .containerMain {
      width: 100%;
      padding-top: 73px;
  }

  .bgHeader {
      width: 100%;
      height: 856px;
      /* background-color: rgba(0, 0, 0, 0.1); */
      background-image: url(/assets/img/bg-header.png);
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      box-shadow: 0 30px 40px rgba(0, 0, 0, 0.16);
  }

  .bgHeader>img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }

  .logo {
      position: absolute;
      top: 250px;
      right: 200px;
      width: 380px;
      height: 350px;
  }

  .logo>img {
      width: 100%;
      height: 100%;
  }

  #neofotoTitle {
      color: #ffffff;
      font-size: 120px;
      /* font-weight: 500; */
      text-align: center;
      /* position: absolute; */
      margin-top: 350px;
  }

  #scrollDown {
      position: absolute;
      bottom: 100px;
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
  }

  .rightSideBar {
      width: 100px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .rightSideBar>div {
      width: 2px;
      height: 35%;
      border: 1px solid white;
      background-color: white;
  }

  .rightSideBar img {
      width: 40px;
      height: 40px;
  }

  /* ------------------------------------ */

  .title {
      width: 100%;
      margin-bottom: 60px;
      font-size: 50px;
      font-weight: bold;
      /* height: 50px; */
  }

  .mainBloks {
      width: 100%;
      padding: 15px 25px;
      min-height: 450px;
      margin-top: 100px;
      position: relative;
  }

  .aboutUs {
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
      padding: 25px;
      display: flex;
      min-height: 895px;
      width: 100%;
      background-color: #ffffff;
  }

  .photoAU {
      padding: 0px 15px;
      width: 40%;
      overflow: hidden;
      cursor: w-resize;
  }

  .fotoPhotograf {
      position: relative;
  }

  .fotoPhotograf>div>img {
      position: absolute;
      bottom: 0px;
  }

  .textAU {
      width: 50%;
      color: #383838;
      font-size: 22px;
      font-weight: 400;
      text-align: justify;
      margin-left: 15px;
  }

  a {
      text-decoration: underline;
      color: #383838;
      font-size: 28px;
      font-weight: 400;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin-top: 0;
      opacity: 0.8;
  }

  a:hover {
      color: #f3c6b8;
  }

  a:hover .arrowSocial {
      display: flex;
  }

  .arrowSocial {
      width: 50px;
      height: 50px;
      display: none;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
  }

  .arrowSocial span, .arrowSocial span::after, .arrowSocial span::before {
      width: 35px;
      height: 3px;
      background-color: #f3c6b8;
      border: 1px solid #f3c6b8;
      position: absolute;
      border-radius: 20%;
  }

  .arrowSocial {
      right: 20px;
  }

  .arrowSocial span::before, .arrowSocial span::after {
      display: block;
      content: '';
  }

  .arrowSocial span::before {
      top: -5px;
      right: -2px;
      width: 14px;
      transform: rotate(45deg);
  }

  .arrowSocial span::after {
      top: 3px;
      right: -2px;
      width: 14px;
      transform: rotate(-45deg);
  }

  #podpisAU {
      border-left: 2px solid #f3c6b8;
      margin-top: 30px;
      /* position: absolute; */
      /* bottom: 25px; */
      padding-left: 25px;
      font-size: 32px;
      font-weight: 400;
  }

  /* -------------------------------------------- */

  .galary {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(5, 200px);
      grid-gap: 50px;
      justify-items: center;
  }

  .galary>div {
      width: 400px;
      font-size: 35px;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
  }

  .darkHoverGalary {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0;
      z-index: 2;
      transition: 0.7s;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding: 50px 30px;
      cursor: pointer;
  }

  .darkHoverGalary :nth-child(1) {
      color: white;
  }

  .arrowGalary {
      display: block;
      margin-left: 0;
      padding-top: 20px;
  }

  .close {
      position: fixed;
      top: 25px;
      right: 25px;
      width: 30px;
      height: 30px;
      color: white;
      cursor: pointer;
  }

  .myModal {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 15px;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 99;
  }

  .modal-dialog {
      /* width: 90% !important; */
      max-width: 90%;
  }

  .modal-content {
      background-color: transparent;
      border: none;
      outline: none;
      /* flex-direction: row !important; */
  }

  .slide {
      outline: none;
  }

  .slide img {
      margin: auto auto;
      max-height: 93vh;
      outline: none;
      max-width: 90%;
  }

  .arrowGalary span {
      border-color: white;
  }

  .darkHoverGalary:hover {
      opacity: 0.7;
  }

  .galary>div>img {
      height: 100%;
  }

  .galary :nth-child(1) {
      grid-row: 1/3;
  }

  .galary :nth-child(2) {
      grid-row: 1/4;
  }

  .galary :nth-child(3) {
      grid-row: 1/3;
  }

  .galary :nth-child(4) {
      grid-row: 3/6;
  }

  .galary :nth-child(5) {
      grid-row: 4/6;
  }

  .galary :nth-child(6) {
      grid-row: 3/6;
  }

  .galary div img {
      height: 100%;
  }

  .galary>div>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .moreGallryBtn {
      width: 150px;
      height: 60px;
      margin: 35px auto;
      border: qpx solid black;
      border-radius: 5px;
      background-color: #F3C6B8;
      text-align: center;
      font-size: 24px;
      color: white;
      padding-top: 10px;
      cursor: pointer;
      outline: none;
  }

  /* ---------what We ----------------- */

  .whatWe {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

  .whatWe>div {
      width: 520px;
      height: 711px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
      background-color: rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
  }

  .whatWe>div>p {
      position: absolute;
      top: 35px;
      left: 25px;
      color: #ffffff;
      font-size: 32px;
      font-weight: 700;
  }

  .whatWe div img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }

  /* --------------------------------- */

  /* -------Rewievs--------------- */

  .rewSliderMain {
      width: 100%;
      cursor: w-resize;
  }

  .slideRew {
      width: 500px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px 100px;
      background-color: white;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
      outline: none;
      padding: 35px 25px;
      font-size: 20px;
  }

  .fotoRew {
      width: 100px;
      height: 100px;
      overflow: hidden;
  }

  .fotoRew>img {
      border: 1px solid white;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .nameRew p {
      text-align: center;
      color: #464646;
      font-size: 26px;
      font-weight: 700;
  }

  .textRew {
      text-align: center;
  }

  .slideRew :nth-child(1) img {
      height: 100%;
  }

  .slideRew :nth-child(2) {
      width: 100%;
      padding: 10px;
      text-align: justify;
  }

  @media screen and (max-width: 1670px) and (min-width: 1025px) {
      .logo {
          top: 150px;
          right: 150px;
          width: 280px;
          height: 250px;
      }
      .bgHeader {
          height: 580px;
      }
      #neofotoTitle {
          margin-top: 180px;
          font-size: 100px;
      }
      #scrollDown {
          bottom: 10px;
      }
      .rightSideBar img {
          width: 30px;
          height: 30px;
      }
      .aboutUs {
          padding: 20px;
          min-height: 560px;
          ;
      }
      .photoAU img {
          width: 85%;
          overflow: hidden;
      }
      .textAU {
          font-size: 18px;
      }
      a {
          font-size: 24px;
      }
      #podpisAU {
          font-size: 24px;
          margin-top: 85px;
      }
      .whatWe>div {
          width: 355px;
          height: 445px;
      }
      .whatWe>div>p {
          font-size: 21px;
      }
      .whatWe div img {
          width: 390px;
      }
      /* ---------Gallary */
      .galary>div {
          width: 350px;
      }
      .slideRew {
          height: auto;
          margin: 30px 15px;
      }
  }

  @media screen and (max-width: 1024px) and (min-width: 770px) {
      .bgHeader {
          height: 580px;
      }
      .logo {
          top: 150px;
          right: 100px;
          width: 280px;
          height: 250px;
      }
      #neofotoTitle {
          margin-top: 180px;
          font-size: 100px;
          /* font-weight: 700; */
      }
      #scrollDown {
          bottom: 10px;
      }
      .rightSideBar img {
          width: 30px;
          height: 30px;
      }
      .aboutUs {
          padding: 20px;
          min-height: 630px;
      }
      .photoAU {
          width: 50%;
      }
      .photoAU img {
          width: 90%;
          margin: 0px auto;
      }
      .textAU {
          font-size: 18px;
          padding: 0px 45px;
      }
      .textAU a {
          display: block;
          font-size: 24px;
          width: 130px;
          float: left;
      }
      #podpisAU {
          font-size: 24px;
          margin-top: 125px;
      }
      .whatWe>div {
          width: 260px;
          height: 570px;
      }
      .whatWe>div>p {
          font-size: 21px;
      }
      .whatWe div img {
          width: 320px;
      }
      .lamp {
          display: none;
      }
      /* ---------Gallary */
      .galary>div {
          width: 250px;
      }
      .galary {
          grid-template-rows: repeat(5, 100px);
          grid-gap: 40px;
      }
      .slideRew {
          margin: 30px 15px;
      }
  }

  @media screen and (max-width: 769px) and (min-width: 646px) {
      .rightSideBar {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 350px;
          padding: 0px 200px;
      }
      .logo {
          display: none;
      }
      .rightSideBar>div {
          display: none;
      }
      .rightSideBar img {
          width: 40px;
          height: 40px;
      }
      .bgHeader {
          width: 645px;
          height: 580px;
          background-image: url(/assets/img/bg-header-mini.png);
          background-position: center;
      }
      .bgHeader>img {
          height: 100%;
          object-fit: none;
      }
      #neofotoTitle {
          margin-top: 180px;
          font-size: 80px;
      }
      #scrollDown {
          bottom: 10px;
      }
      .aboutUs {
          padding: 20px;
          min-height: 656px;
      }
      .photoAU {
          width: 40%;
      }
      .photoAU img {
          width: 230px;
      }
      .textAU {
          width: 60%;
          font-size: 18px;
          padding: 0px 25px;
      }
      .textAU a {
          display: block;
          font-size: 24px;
          width: 130px;
          margin-left: -250px;
      }
      #podpisAU {
          font-size: 24px;
          margin-top: -100px;
      }
      .whatWe {
          flex-wrap: wrap;
      }
      .whatWe>div {
          width: 260px;
          height: 520px;
          margin-top: 25px;
      }
      .whatWe>div>p {
          font-size: 21px;
      }
      .whatWe div img {
          width: 320px;
      }
      .lamp {
          display: none;
      }
      .galary {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(5, 100px);
          grid-gap: 30px;
      }
      .galary>div {
          width: 300px;
      }
      .galary :nth-child(3) {
          display: none;
      }
      .galary :nth-child(6) {
          display: none;
      }
      .slideRew {
          margin: 30px 15px;
      }
      .close {
          right: 0px;
      }
  }

  @media screen and (max-width: 645px) and (min-width: 200px) {
      .containerMain {
          padding-top: 0px;
      }
      .logo {
          display: none;
      }
      .rightSideBar {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 350px;
          padding: 0px 50px;
      }
      .rightSideBar>div {
          display: none;
      }
      .rightSideBar img {
          width: 40px;
          height: 40px;
      }
      .bgHeader {
          width: 100%;
          height: 540px;
          background-image: url(/assets/img/bg-header-micro.png);
          background-repeat: no-repeat;
          background-origin: inherit;
          background-position: center;
      }
      #neofotoTitle {
          margin-top: 180px;
          font-size: 80px;
      }
      #scrollDown {
          bottom: 10px;
      }
      .bgHeader>img {
          widows: 100%;
          height: 100%;
          object-fit: cover;
      }
      .aboutUs {
          padding: 20px;
          min-height: 1100px;
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: #ffffff;
      }
      .photoAU {
          padding: 0px 10px;
          width: 100%;
      }
      .photoAU img {
          margin: 0px auto;
          width: 80%;
      }
      .textAU {
          width: 100%;
          font-size: 18px;
          padding: 15px 10px;
      }
      .textAU a {
          display: block;
          font-size: 24px;
          width: 130px;
      }
      #podpisAU {
          font-size: 24px;
      }
      .close {
          right: 0px;
      }
      .galary {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(9, 100px);
          grid-gap: 30px;
      }
      .galary>div {
          width: 300px;
      }
      .galary :nth-child(1) {
          grid-row: 1/4;
      }
      .galary :nth-child(2) {
          grid-row: 7/10;
      }
      .galary :nth-child(3) {
          display: none;
          grid-row: 1/3;
      }
      .galary :nth-child(4) {
          grid-row: 4/7;
      }
      .galary :nth-child(5) {
          display: none;
          grid-row: 4/6;
      }
      .galary :nth-child(6) {
          display: none;
          grid-row: 3/6;
      }
      .whatWe {
          flex-direction: column;
          align-items: center;
      }
      .whatWe>div {
          width: 80%;
          height: 290px;
          margin-top: 15px;
      }
      .whatWe>div>p {
          font-size: 21px;
      }
      .whatWe div img {
          width: 330px;
      }
      .rewSliderMain {
          width: 100%;
      }
      .slideRew {
          margin: 30px 15px;
          font-size: 18px;
      }
  }