.containerMain {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.mainBloks {
    padding: 15px 25px;
    min-height: 450px;
    /* border: 1px solid black; */
    margin-top: 100px;
}

.aboutUs {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    display: flex;
    height: 600px;
    background-color: white;
}

.photoAU {
    padding: 25px 20px;
    width: 40%;
}

.photoAU img {
    width: 75%;
}

.textAU {
    width: 59%;
    padding: 0px 100px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.textAU>a {
    margin-top: 125px;
}

.ourWorks {
    /* height: 800px; */
}

.title {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    /* height: 50px; */
}

.galary {
    /* height: 700px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-gap: 50px;
    justify-items: center;
}

.galary>div {
    width: 400px;
    border: 10px solid white;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* position: relative; */
    /* transform: translate(-50%, -50%); */
    /* top: 50%;
    left: 50%; */
}

.darkHoverGalary {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 2;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.darkHoverGalary :nth-child(1){
    color: white;
} 
.darkHoverGalary :nth-child(2){
    cursor: pointer;
    border: 3px solid white;
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
} 

.darkHoverGalary:hover {
    opacity: 0.7;
}

.galary>div>img {
    height: 100%;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.galary :nth-child(1) {
    grid-row: 1/3;
}

.galary :nth-child(2) {
    grid-row: 1/4;
}

.galary :nth-child(3) {
    grid-row: 1/3;
}

.galary :nth-child(4) {
    grid-row: 3/6;
}

.galary :nth-child(5) {
    grid-row: 4/6;
}

.galary :nth-child(6) {
    grid-row: 3/6;
}

.galary div img {
    height: 100%;
}

/* -------Rewievs--------------- */

.rewSlider {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    /* padding: 0px 35px; */
}

.slideRew {
    width: 35%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding-top: 10px;
}

.slideRew :nth-child(1) {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

.slideRew :nth-child(1) img {
    height: initial;
    /* width: auto; */
}

.slideRew :nth-child(2) {
    width: 100%;
    padding: 25px;
    text-align: justify;
}

.arrowLeft, .arrowRight {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border: 1px solid grey; */
    background-color: lightgrey;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrowLeft {
    left: 20px;
}

.arrowLeft span, .arrowLeft span::after, .arrowLeft span::before, .arrowRight span, .arrowRight span::after, .arrowRight span::before {
    width: 35px;
    height: 3px;
    background-color: grey;
    border: 1px solid grey;
    position: absolute;
    border-radius: 20%;
}

.arrowLeft span::before, .arrowLeft span::after {
    display: block;
    content: '';
}

.arrowLeft span::before {
    top: -5px;
    left: -2px;
    width: 14px;
    transform: rotate(-45deg);
}

.arrowLeft span::after {
    top: 3px;
    left: -2px;
    width: 14px;
    transform: rotate(45deg);
}

.arrowRight {
    right: 20px;
}

.arrowRight span::before, .arrowRight span::after {
    display: block;
    content: '';
}

.arrowRight span::before {
    top: -5px;
    right: -2px;
    width: 14px;
    transform: rotate(45deg);
}

.arrowRight span::after {
    top: 3px;
    right: -2px;
    width: 14px;
    transform: rotate(-45deg);
}

/* ---------scroll button to top --------------------*/

.goUpBtn {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

.goUpBtn span::before, .goUpBtn span::after, .goUpBtn span {
    width: 25px;
    height: 3px;
    border: 2px solid white;
    border-radius: 20%;
    position: absolute;
    /* transition: 0.3s; */
}

.goUpBtn span::before, .goUpBtn span::after {
    content: '';
    display: block;
}

.goUpBtn span {
    border: none;
}

.goUpBtn span::after {
    left: 7px;
    transform: rotate(55deg);
}

.goUpBtn span::before {
    left: -7px;
    transform: rotate(-55deg);
}

.goUpBtn:hover {
    cursor: pointer;
}

/* ------------------------------ */
/* -------modal-------- */

.modal-content{
    
}
/* -------------------- */