<div class="containerMain">
    <div class="aboutUs mainBloks">
        <h3>aboutUs</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sunt fugit, possimus quos nisi incidunt rerum
            voluptate accusantium necessitatibus ut sit corporis modi exercitationem odit repellendus, minus eum maxime
            dignissimos.</p>
    </div>
    <div class="strip"></div>
    <div class="whatWe mainBloks">
        <h3>whatWe</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sunt fugit, possimus quos nisi incidunt rerum
            voluptate accusantium necessitatibus ut sit corporis modi exercitationem odit repellendus, minus eum maxime
            dignissimos.</p>
    </div>
    <div class="strip"></div>
    <div class="reviews mainBloks">
        <h3>reviews</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sunt fugit, possimus quos nisi incidunt rerum
            voluptate accusantium necessitatibus ut sit corporis modi exercitationem odit repellendus, minus eum maxime
            dignissimos.</p>
    </div>
    <div class="strip"></div>
    <div class="lastProject mainBloks">
        <h3>lastProject</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sunt fugit, possimus quos nisi incidunt rerum
            voluptate accusantium necessitatibus ut sit corporis modi exercitationem odit repellendus, minus eum maxime
            dignissimos.</p>
    </div>

    <div *ngIf="scrollBtn" class="goUpBtn"   id="goUpBtn" (click)="scrollUp()" >
        <span></span>
    </div>
</div>