.containerMain {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.mainBloks {
    padding: 15px 25px;
    min-height: 450px;
    /* border: 1px solid black; */
    margin-top: 100px;
}

.aboutUs {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    display: flex;
    height: 600px;
    background-color: white;
}

.photoAU {
    padding: 25px 20px;
    width: 40%;
}

.photoAU img {
    width: 75%;
}

.textAU {
    width: 59%;
    padding: 0px 100px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.textAU>a {
    margin-top: 125px;
}

.ourWorks {
    /* height: 800px; */
}
.title{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    /* height: 50px; */
}
.galary{
    /* height: 700px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 50px;
}
.galary > div{
    background-color: green;
    border: 1px solid black;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.galary :nth-child(1){
    grid-row: 1/3;
}
.galary :nth-child(2){
    grid-row: 1/4;
}
.galary :nth-child(3){
    grid-row: 1/3;
}
.galary :nth-child(4){
    grid-row: 3/6;
}
.galary :nth-child(5){
    grid-row: 4/6;
}
.galary :nth-child(6){
    grid-row: 3/6;
}











/* ---------scroll button to top --------------------*/

.goUpBtn {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

.goUpBtn span::before, .goUpBtn span::after, .goUpBtn span {
    width: 25px;
    height: 3px;
    border: 2px solid white;
    border-radius: 20%;
    position: absolute;
    transition: 0.3s;
}

.goUpBtn span::before, .goUpBtn span::after {
    content: '';
    display: block;
}

.goUpBtn span {
    border: none;
}

.goUpBtn span::after {
    left: 7px;
    transform: rotate(55deg);
}

.goUpBtn span::before {
    left: -7px;
    transform: rotate(-55deg);
}

.goUpBtn:hover {
    cursor: pointer;
}

/* ------------------------------ */