footer {
    width: 100%;
    min-height: 650px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

/* -------------orderPhoto ------------------------ */

.orderPhoto {
    height: 260px;
    padding: 59px 109px;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.orderPhoto>img {
    /* width: 100%; */
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.orderPhoto p {
    height: 60px;
    color: #ffffff;
    font-size: 50px;
    float: left;
}

.arrowOrder {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.arrowOrder span, .arrowOrder span::after, .arrowOrder span::before {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    position: absolute;
    border-radius: 20%;
}

.arrowOrder span::before, .arrowOrder span::after {
    display: block;
    content: '';
}

.arrowOrder span::before {
    top: -5px;
    right: -2px;
    width: 14px;
    transform: rotate(45deg);
}

.arrowOrder span::after {
    top: 3px;
    right: -2px;
    width: 14px;
    transform: rotate(-45deg);
}

.orderPhoto:hover p {
    color: #f3c6b8;
}

/* -------------------------------------------------- */

.fContainer {
    width: 100%;
    margin-top: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    width: 200px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    position: relative;
    overflow: hidden;
}
.logo>img{
    position: absolute;
    z-index: -1;
    /* border: 1px solid lightgrey;
    border-radius: 25px; */
    width: 100%;
    height: 100%;
}

.fContainer a, .fContactd p {
    font-size: 18px;
    text-decoration: none;
    color: #1a1a1a;
    opacity: 0.5;
    height: 22px;
    line-height: 2;
}

footer a:hover {
    opacity: 1;
}

.copiRight {
    border-top: 1px solid black;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    padding-top: 15px;
}

@media screen and (max-width: 1670px) and (min-width: 1025px) {
    .orderPhoto {
        height: 200px;
    }
    .orderPhoto p {
        height: 50px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
    .orderPhoto {
        height: 170px;
    }
    .orderPhoto p {
        height: 40px;
    }
    .logo {
        width: 150px;
        height: 100px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid lightgrey;
    }
}

@media screen and (max-width: 769px) and (min-width: 646px) {
    .arrowOrder {
        margin-top: 8px;
    }
    .orderPhoto {
        height: 150px;
    }
    .orderPhoto p {
        font-size: 40px;
        height: 40px;
    }
    .fContainer {
        margin-top: 320px;
        justify-content: space-between;
    }
    .fLogo {
        display: none;
    }
}

@media screen and (max-width: 645px) and (min-width: 200px) {
    .arrowOrder {
        margin-top: -10px;
    }
    .orderPhoto {
        height: 100px;
        padding: 40px 25px;
    }
    .orderPhoto p {
        font-size: 20px;
        height: 40px;
        width: 70%;
    }
    .fContainer {
        margin-top: 130px;
        flex-direction: column;
        padding-left: 20px;
        justify-content: space-between;
        height: 600px;
    }
    .fLogo {
        display: none;
    }
}