<footer>
    <div class="orderPhoto">
        <a routerLink="contacts">
            <p *ngIf="langService.lang">Замовити фотосесію</p>
            <p *ngIf="!langService.lang">Let`s talk about you</p>
            <div class="arrowOrder">
                <span></span>
            </div>
        </a>
            <img src="assets/img/orderbg.png" alt="">
    </div>



    <div *ngIf="langService.lang" class="fContainer">
        <div class="fLogo">
            <div class="logo"></div>
        </div>
        <div class="fNAv">
            <h4>Навігація</h4>
            <a routerLink="main">Домашня</a><br>
            <a routerLink="galary">Галерея</a><br>
            <a routerLink="paslugi">Послуги</a><br>
            <a routerLink="contacts">Контакти</a>
        </div>
        <div class="fSocial">
            <h4>Соціальні мережі</h4>
            <a href="">Instagram</a><br>
            <a href="">Facebook</a><br>
            <a href="">Behance</a><br>

        </div>
        <div class="fContactd">
            <h4>Наші контакти</h4>
            <p>м.Львів вул.Володимира Великого</p>
            <p> буд. № 18, офіс 825</p>
            <p>+38(067) 280 16 61</p>
        </div>
    </div>

    <div *ngIf="!langService.lang" class="fContainer">
        <div class="fLogo">
            <div class="logo"></div>
        </div>
        <div class="fNAv">
            <h4>Navigation</h4>
            <a routerLink="main">Home</a><br>
            <a routerLink="galary">Gallary</a><br>
            <a routerLink="paslugi">Services</a><br>
            <a routerLink="contacts">About</a>
        </div>
        <div class="fSocial">
            <h4>Social Media</h4>
            <a href="">Instagram</a><br>
            <a href="">Facebook</a><br>
            <a href="">Behance</a><br>

        </div>
        <div class="fContactd">
            <h4>Contact us</h4>
            <p>Office 825, 18 Volodymyra str.</p>
            <p>Lviv, Ukraine</p>
            <p>+38(067) 280 16 61</p>
        </div>
    </div>


    <div class="copiRight">
        <p *ngIf="langService.lang">Розроблено WEBJedi.com.ua © 2020 </p>
        <p *ngIf="!langService.lang">Designed by WEBJedi.com.ua © 2020 </p>
    </div>
</footer>