<footer>
    <div class="orderPhoto">
        <a routerLink="contacts" (click)="scrollUp()">
            <p *ngIf="langService.lang">Замовити фотосесію</p>
            <p *ngIf="!langService.lang">Let`s talk about you</p>
            <div class="arrowOrder">
                <span></span>
            </div>
        </a>
        <img src="assets/img/orderbg.png" alt="">
    </div>



    <div *ngIf="langService.lang" class="fContainer">
        <div class="fLogo">
            <div class="logo"><img src="assets/img/Logo_dark.svg" alt=""></div>
        </div>
        <div class="fNAv">
            <h4>Навігація</h4>
            <a routerLink="main" (click)="scrollUp()">Домашня</a><br>
            <a routerLink="galary" (click)="scrollUp()">Галерея</a><br>
            <a routerLink="poslugi" (click)="scrollUp()">Послуги</a><br>
            <a routerLink="contacts" (click)="scrollUp()">Контакти</a>
        </div>
        <div class="fSocial">
            <h4>Соціальні мережі</h4>
            <a target="_blank" href="https://www.instagram.com/neofotolviv/">Instagram</a><br>
            <a target="_blank" href="https://www.facebook.com/NeoFoto-Lviv-1885756388214013/">Facebook</a><br>
            <a target="_blank" href="https://www.behance.net/olenarudiuk">Behance</a><br>

        </div>
        <div class="fContactd">
            <h4>Наші контакти</h4>
            <p>м.Львів</p>
            <p>вул.Володимира Великого</p>
            <p> буд. № 18, офіс 825</p>
            <p>+38(067) 280 16 61</p>
        </div>
    </div>

    <div *ngIf="!langService.lang" class="fContainer">
        <div class="fLogo">
            <div class="logo"><img src="assets/img/Logo_dark.svg" alt=""></div>
        </div>
        <div class="fNAv">
            <h4>Navigation</h4>
            <a routerLink="main" (click)="scrollUp()">Home</a><br>
            <a routerLink="galary" (click)="scrollUp()">Gallary</a><br>
            <a routerLink="poslugi" (click)="scrollUp()">Services</a><br>
            <a routerLink="contacts" (click)="scrollUp()">About</a>
        </div>
        <div class="fSocial">
            <h4>Social Media</h4>
            <a target="_blank" href="https://www.instagram.com/neofotolviv/">Instagram</a><br>
            <a target="_blank" href="https://www.facebook.com/NeoFoto-Lviv-1885756388214013/">Facebook</a><br>
            <a target="_blank" href="https://www.behance.net/olenarudiuk">Behance</a><br>

        </div>
        <div class="fContactd">
            <h4>Contact us</h4>
            <p>Office 825</p>
            <p>18 Volodymyra str.</p>
            <p>Lviv, Ukraine</p>
            <p>+38(067) 280 16 61</p>
        </div>
    </div>


    <div class="copiRight">
        <p *ngIf="langService.lang">Розроблено <a href="https://parallax.com.ua" target="_blank">Parallax.com.ua</a> © 2020 </p>
        <p *ngIf="!langService.lang">Designed by <a href="https://parallax.com.ua" target="_blank">Parallax.com.ua</a> © 2020 </p>
    </div>
    <div *ngIf="scrollBtn" class="goUpBtn" (click)="scrollUp()">
        <img src="assets/img/scrollUpArrow.svg" alt="">
    </div>
</footer>